html {
  /* width: 100%; */
  /* max-height: 100%; */
}

body {
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 1em;
  font-weight: 400;
  background-color: #00001a;
  color: #fff;
  background: url("https://s3.eu-central-1.amazonaws.com/makos-homepage/img/bg.jpg") no-repeat center center fixed;
}

header {
  margin-top: 300px;
  text-align: center;
}

footer {
  text-align: center;
  font-size: 0.8em;
}

hr {
  border: 1px solid rgba(1,1,1,1);
  position: relative;
}

.separator {
  margin-top: 500px;
  /* margin-bottom: 500px; */
  height: 540px;
  background-color: rgba(0,0,0,0.75);
  border-top: 47px solid rgba(0,0,0,0.5);
  border-bottom: 36px solid rgba(0,0,0,0.66);
  -webkit-box-shadow: 5px 0px 50px #000;
          box-shadow: 5px 0px 50px #000;
}

.rectangle {
  position: relative;
  bottom: 423px;
  background-color: rgba(1,1,1,0.6);
  height: 300px;
  border-top: 43px solid rgba(0,0,0,0.7);
  border-bottom: 67px solid rgba(0,0,0,0.6);
  z-index: 2;
}

.rectangle-2 {
  position: relative;
  bottom: 493px;
  height: 460px;
  border-top: 95px solid rgba(0,0,0,0.7);
  border-bottom: 112px solid rgba(0,0,0,0.6);
  z-index: 2;
}

.margin-top {
  margin-top: 50px;
}

.margin-bottom {
  margin-bottom: 50px;
}

.push-top {
  position: relative;
  bottom: 300px;
}

#hi {
  color: #fff;
  -webkit-animation: fall 2s forwards;
          animation: fall 2s forwards;
  position: relative;
  bottom: 400%;
}

#my-sites {
  position: relative;
  right: 300%;
  -webkit-animation: slide-right 1.5s forwards;
          animation: slide-right 1.5s forwards;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-transform-origin: 75% center;
      -ms-transform-origin: 75% center;
          transform-origin: 75% center;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  -o-transition: transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
}


#about-me {
  position: relative;
  left: 300%;
  -webkit-animation: slide-left 1.5s forwards;
          animation: slide-left 1.5s forwards;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-transform-origin: 75% center;
      -ms-transform-origin: 75% center;
          transform-origin: 75% center;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  -o-transition: transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
}

#my-sites-tag {
  display: block;
  /* padding-bottom: 100px; */
  height: 200px;
  margin-top: -200px;
  visibility: hidden;
}

@-webkit-keyframes shiver {
  100% {
    -webkit-transform: rotate(1turn);
            transform: rotate(1turn);
  }
}

@keyframes shiver {
  100% {
    -webkit-transform: rotate(1turn);
            transform: rotate(1turn);
  }
}

@-webkit-keyframes fall {
  100% {
    bottom: 0;
  }
}

@keyframes fall {
  100% {
    bottom: 0;
  }
}

@-webkit-keyframes slide-right {
  0% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
  90% {
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
  }
  100% {
    right: 0;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes slide-right {
  0% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
  90% {
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
  }
  100% {
    right: 0;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@-webkit-keyframes slide-left {
  0% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  90% {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }
  100% {
    left: 0;
  }
}

@keyframes slide-left {
  0% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  90% {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }
  100% {
    left: 0;
  }
}

a {
  color: #ddd;
  -webkit-transition: color 500ms;
  -o-transition: color 500ms;
  transition: color 500ms;
  -webkit-transition-timing-function: ease-out;
       -o-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
}

a:hover {
  text-shadow: 1px 2px 2px #000;
  text-decoration: none;
  color: #fff;
}

@media (max-width: 320px) {
  header {
    margin-top: 50px;
  }

  .separator {
    height:250px;
  }

  #my-sites-tag {
    height: 0;
    margin: 0;
  }

  .rectangle {
    visibility: hidden;
  }

  .rectangle-2 {
    display: none;
  }

  .push-top {
    top: 50px;
    bottom: 0;
  }
}

@media (max-width: 1280px) {
  .nowrap-sm {
    white-space: nowrap;
  }
}
